PyQt6==6.9.0
PyQt6-WebEngine==6.9.0
qasync==0.27.1
transformers==4.46.2
sentence-transformers==5.1.0
openai==1.70.0
mistralai==1.5.0
edge-tts==7.0.0
TTS==0.25.3
elevenlabs==1.52.0
kokoro==0.9.4
whisper==20240930
openai-whisper==20240930
speechrecognition==3.14.1
vosk==0.3.45
playwright==1.52.0
translators==5.9.5
huggingface-hub==0.33.2
hf-xet==1.1.5
hf_transfer==0.1.9
psutil==7.0.0
GPUtil==1.4.0
sounddevice==0.5.1
soundfile==0.13.1
pydub==0.25.1
PyCharacterAI==2.2.48
PyOpenGL==3.1.9
live2d-py==0.5.3.4
numpy==1.25.2
scikit-learn==1.6.1
aiohttp==3.11.13
requests==2.32.3
tiktoken==0.9.0
pyyaml==6.0.2
pillow==11.1.0
ipython==9.4.0
